$font-family1: 'COCOGOOSE', sans-serif;
$font-family2: 'Lato', sans-serif;
$primary-color: #272a31;
$secondary-color: #ec5242;
$tertiary-color: #d3d3d3;
$background1: #fafafa;
$background2: #f7f7f7;
$background-image1: url('../src/background.png');
$background-image2: url('../src/background2.png');
$text-color1: #565656;
$button-active: #cc3b2b;

/* stylelint-disable no-descending-specificity */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: fit-content;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.section-hr {
  border: 2px solid #dedcdc;
  border-top: 0;
}

/* Mobile version of the header. */
.above-header {
  display: none;
}

.header-tab {
  display: flex;
  justify-content: start;
  box-shadow: 0 3px 10px 0 #4b4b4b73;
  position: fixed;
  background-color: $background2;
  width: 100%;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  background-image: url('../src/mobile-bg.png');
  list-style-type: none;
  width: 100%;
  height: 100%;
  z-index: 1;

  a {
    color: $primary-color;
    font-size: 32px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }

  h4 {
    margin: 0 108px 15px 40px;
  }

  hr {
    margin: 0 24px 24px 24px;
    border: none;
    border-top: 2px solid $secondary-color;
  }
}

#close-button {
  width: 10%;
  margin: 18px 38px 34px auto;
  float: right;
}

.logo,
.desktop-menu {
  display: none;
}

.menu-button {
  img {
    width: 40px;
    margin: 15px 0 10px 25px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px 80px 15px;

  #hello {
    font-family: $font-family2;
    color: $secondary-color;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
  }

  h1 {
    font-family: $font-family1;
    font-size: 30px;
    text-align: center;
    color: $secondary-color;
    margin: 0 0 15px 0;
  }

  p:first-of-type {
    font-family: $font-family2;
    color: $text-color1;
    font-size: 15px;
    border: 2px solid #ededed;
    background-color: #fff;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }

  p {
    font-family: $font-family2;
    color: $text-color1;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    width: 70%;
  }

  a {
    text-align: center;
    font-family: $font-family2;
    color: $text-color1;
    font-weight: 800;
  }
}

/* Desktop version of the header. */
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .above-header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: $primary-color;
    color: $background2;
    font-family: $font-family2;
    padding: 5px 115px 5px 0;
    font-size: 10px;
    font-weight: 400;

    a:first-of-type > img {
      max-width: 8px;
    }

    a > img {
      max-width: 16px;
    }
  }

  header {
    position: fixed;
    width: 100%;
  }

  .header-tab {
    display: flex;
    padding: 0 100px 0 100px;
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    background-color: $background2;
    width: 100%;

    a {
      text-decoration: none;
      color: $text-color1;
      font-family: $font-family2;
    }
  }

  .logo {
    display: block;
    flex-grow: 1;
    align-self: center;

    img {
      max-width: 92px;
    }
  }

  .desktop-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
  }

  .desktop-menu h4:hover {
    color: $secondary-color;
  }

  .menu-last-item {
    border: 3px solid $secondary-color;
    padding: 10px;
    margin: 10px;
    color: $secondary-color;
  }

  .header {
    background-image: url(../src/about-bg.png);
    background-color: $background2;

    #hello {
      display: none;
    }

    h1 {
      font-size: 60px;
      margin: 0 0 15px 0;
      width: 60%;
    }

    p:first-of-type {
      font-size: 15px;
      padding: 20px;
      width: 55%;
    }

    p {
      font-size: 15px;
      padding: 20px;
      width: 55%;
    }
  }
}

/* Logo section */
.website-logo {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: $font-family2;
  align-items: center;
  padding-top: 70px;

  h2 {
    margin: 30px 0 0 0;
    color: $primary-color;
    text-align: center;
    width: 70%;
  }

  hr {
    border: none;
    border-top: 1px solid $secondary-color;
    width: 30px;
    margin: 10px 0 30px 0;
  }

  p {
    font-family: $font-family2;
    color: $text-color1;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    width: 70%;
  }

  img {
    border: 2px solid $tertiary-color;
    padding: 20px;
    margin-bottom: 80px;
  }
}

/* Mobile version of the past events section */
.past-events {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: $font-family2;
  align-items: center;
  padding-top: 70px;

  h2 {
    margin: 30px 0 0 0;
    color: $primary-color;
    text-align: center;
    width: 70%;
  }

  hr {
    border: none;
    border-top: 1px solid $secondary-color;
    width: 30px;
    margin: 10px 0 30px 0;
  }

  p {
    margin: 0 40px 0 40px;
    text-align: center;
    width: 70%;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 20px 0 60px 0;
  }

  div > a:first-of-type {
    background-image: url('../src/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 170px;
    min-width: 300px;
    color: $background2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
  }

  div > a {
    background-image: url('../src/past-event-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 170px;
    min-width: 300px;
    color: $background2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
  }
}

/* Desktop version of the past events section */
@media only screen and (min-width: 768px) {
  .past-events {
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 60px 0 110px 0;
      gap: 30px;
    }

    div > a:first-of-type {
      min-height: 300px;
      min-width: 500px;
    }

    div > a {
      min-height: 300px;
      min-width: 500px;
    }
  }
}

/* Sponsors section */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family2;
  margin: 0 0 40px 0;
  padding: 30px 10px 50px 10px;
  background-color: $primary-color;
  width: 100%;
  color: #8d8d8d;

  hr {
    border: none;
    border-top: 1px solid $secondary-color;
    width: 30px;
    margin: 10px 0 30px 0;
  }

  ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-weight: 900;
  }
}

@media only screen and (min-width: 768px) {
  .sponsors {
    display: none;
  }
}

/* Copyright footer */
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family2;
  font-size: 15px;
  padding: 0 0 30px 0;
  gap: 30px;

  img {
    max-width: 92px;
  }
}

/* Desktop version of the copyright footer */
@media only screen and (min-width: 768px) {
  .copyright {
    background-color: $primary-color;
    color: $background2;
    padding-top: 30px;
  }
}
