/* stylelint-disable no-descending-specificity */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: fit-content;
  background-image: url("../src/mobile-bg.png");
  background-repeat: repeat-x;
  background-position: top;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

/* Mobile version of the header. */
.header-tab {
  display: flex;
  justify-content: start;
  box-shadow: 0 3px 10px 0 #4b4b4b73;
  position: fixed;
  background-color: #f7f7f7;
  width: 100%;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  background-image: url("../src/mobile-bg.png");
  list-style-type: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile-menu a {
  color: #272a31;
  font-size: 32px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.mobile-menu h4 {
  margin: 0 108px 15px 40px;
}

.mobile-menu hr {
  margin: 0 24px 24px 24px;
  border: none;
  border-top: 2px solid #ec5242;
}

#close-button {
  width: 10%;
  margin: 18px 38px 34px auto;
  float: right;
}

.logo,
.desktop-menu {
  display: none;
}

.menu-button img {
  width: 40px;
  margin: 15px 0 10px 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px 80px 15px;
}

.header #hello {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.header h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ec5242;
  margin: 0 0 15px 0;
}

.header p:first-of-type {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  border: 4px solid #fefefe;
  background-color: #f7f7f7;
  padding: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.header p {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.header a {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #565656;
  font-weight: 600;
}

/* Desktop version of the header. */
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-tab {
    display: flex;
    padding: 0 150px 0 150px;
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    position: fixed;
    background-color: #f7f7f7;
    width: 100%;
  }
  .header-tab a {
    text-decoration: none;
    color: #565656;
    font-family: "Lato", sans-serif;
  }
  .logo {
    display: block;
    flex-grow: 1;
    align-self: center;
  }
  .logo img {
    max-width: 92px;
  }
  .desktop-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 60px;
  }
  .menu-last-item {
    border: 3px solid #ec5242;
    padding: 10px;
    margin: 10px;
  }
  .desktop-menu h4:hover {
    color: #ec5242;
  }
  .header #hello {
    display: none;
  }
  .header h1 {
    font-size: 60px;
    margin: 0 0 15px 0;
    width: 60%;
  }
  .header p {
    font-size: 15px;
    padding: 20px;
    width: 55%;
  }
}

/* Logo section */
.website-logo {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  align-items: center;
  padding-top: 70px;
}

.website-logo h2 {
  margin: 30px 0 0 0;
  color: #272a31;
  text-align: center;
}

.website-logo hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.website-logo p {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}

.website-logo img {
  border: 2px solid #d3d3d3;
  padding: 20px;
  margin-bottom: 80px;
}

/* Mobile version of the past events section */
.past-events {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  align-items: center;
  padding-top: 70px;
}

.past-events h2 {
  margin: 30px 0 0 0;
  color: #272a31;
  text-align: center;
}

.past-events hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.past-events p {
  margin: 0 40px 0 40px;
  text-align: center;
}

.past-events a {
  background-image: url("../src/past-event-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 170px;
  min-width: 300px;
  color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 40px 0;
  text-decoration: none;
}

/* Desktop version of the past events section */
@media only screen and (min-width: 768px) {
  .past-events a {
    width: 60%;
    min-height: 400px;
  }
}

/* Sponsors section */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  margin: 0 0 40px 0;
  padding: 30px 10px 50px 10px;
  background-color: #272a31;
  width: 100%;
  color: #8d8d8d;
}

.sponsors hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.sponsors ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-weight: 900;
}

/* Copyright section */
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin: 30px 0 30px 0;
  gap: 30px;
}

.copyright img {
  max-width: 92px;
}
