* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: fit-content;
  background-image: url("../src/background2.png");
}

button {
  cursor: pointer;
}

/* Mobile version of the header. */
.logo,
.desktop-menu {
  display: none;
}

.menu-button img {
  width: 40px;
  margin: 15px 0 10px 25px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 80px 15px;
}

.header #hello {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.header h1 {
  background-image: url("../src/background.png");
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  margin: 0 0 15px 0;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: inherit;
  -webkit-background-clip: text;
}

.header p {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  border: 4px solid #fefefe;
  background-color: #f7f7f7;
  padding: 20px;
  font-weight: 600;
}

.header #date {
  font-family: "COCOGOOSE", sans-serif;
  color: #272a31;
  font-size: 25px;
  margin: 15px 0 0 0;
}

.header #location {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  margin: 0 0 30px 0;
}

/* Desktop version of the header. */
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-tab {
    display: flex;
    padding: 0 150px 0 150px;
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    position: fixed;
    background-color: #f7f7f7;
    width: 100%;
  }

  .header-tab a {
    text-decoration: none;
    color: #565656;
    font-family: "Lato", sans-serif;
  }

  .logo {
    display: block;
    flex-grow: 1;
    align-self: center;
  }

  .desktop-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 60px;
  }

  .menu-last-item {
    border: 3px solid #ec5242;
    padding: 10px;
    margin: 10px;
  }

  .desktop-menu h4:hover {
    color: #ec5242;
  }

  .header {
    padding: 100px 0 80px 200px;
    width: 80%;
  }

  .header #hello {
    font-size: 45px;
    margin: 0;
  }

  .header h1 {
    font-size: 60px;
    margin: 0 0 15px 0;
  }

  .header p {
    font-size: 15px;
    padding: 20px;
    width: 70%;
  }

  .header #date {
    font-size: 35px;
    margin: 15px 0 0 0;
  }

  .header #location {
    font-size: 25px;
    margin: 0 0 30px 0;
  }
}

/* Mobile version of the events section */
.events {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  font-family: "Lato", sans-serif;
  align-items: center;
}

.events h2 {
  margin: 30px 0 0 0;
  color: #d3d3d3;
}

.events hr {
  color: #ec5242;
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.events h3 {
  color: #ec5242;
}

.events p {
  color: #d3d3d3;
}

.events ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.events li {
  background-color: #3c3f46;
  width: 94%;
  display: grid;
  grid-template-columns: 10% 30% 50%;
  gap: 15px;
  padding: 20px 0 20px 20px;
  border: 1px solid #3c3f46;
  align-items: center;
}

.events li:hover {
  border-color: #d3d3d3;
}

.events button {
  padding: 20px;
  margin: 30px 0 30px 0;
  background-color: #ec5242;
  color: #f7f7f7;
  border: 2px solid #ec5242;
  transition: 300ms ease-in-out;
}

.events button:hover {
  background-color: #f7f7f7;
  color: #ec5242;
}

.events button:active {
  background-color: #cc3b2b;
  color: #f7f7f7;
  border-color: #cc3b2b;
}

.events a {
  display: none;
}
