* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: fit-content;
}

/* Mobile version of the header. */
.logo,
.desktop-menu {
  display: none;
}

.menu-button img {
  width: 45px;
  margin: 15px 0 10px 25px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 80px 15px;
  background-image: url("../src/background2.png");
}

.header #hello {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.header h1 {
  background-image: url("../src/background.png");
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  margin: 0 0 15px 0;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: inherit;
  -webkit-background-clip: text;
}

.header p {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  border: 4px solid #fefefe;
  background-color: #f7f7f7;
  padding: 20px;
  font-weight: 600;
}

.header #date {
  font-family: "COCOGOOSE", sans-serif;
  color: #272a31;
  font-size: 25px;
  margin: 15px 0 0 0;
}

.header #location {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  margin: 0 0 30px 0;
}

/* Desktop version of the header. */
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-tab {
    display: flex;
    padding: 0 150px 0 150px;
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    position: fixed;
    background-color: #f7f7f7;
    width: 100%;
  }

  .header-tab a {
    text-decoration: none;
    color: #565656;
    font-family: "Lato", sans-serif;
  }

  .logo {
    display: block;
    flex-grow: 1;
    align-self: center;
  }

  .desktop-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 60px;
  }

  .menu-last-item {
    border: 3px solid #ec5242;
    padding: 10px;
    margin: 10px;
  }

  .desktop-menu h4:hover {
    color: #ec5242;
  }

  .header {
    padding: 100px 200px 80px 200px;
  }

  .header #hello {
    font-size: 45px;
    margin: 0;
  }

  .header h1 {
    font-size: 60px;
    margin: 0 0 15px 0;
  }

  .header p {
    font-size: 15px;
    padding: 20px;
    width: 70%;
  }

  .header #date {
    font-size: 35px;
    margin: 15px 0 0 0;
  }

  .header #location {
    font-size: 25px;
    margin: 0 0 30px 0;
  }
}
