/* stylelint-disable no-descending-specificity */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: fit-content;
}

body {
  line-height: 1.4;
  font-size: 16px;
  width: fit-content;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

/* Mobile version of the header. */
.above-header {
  display: none;
}

.header-tab {
  display: flex;
  justify-content: start;
  box-shadow: 0 3px 10px 0 #4b4b4b73;
  position: fixed;
  background-color: #f7f7f7;
  width: 100%;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  background-image: url("../src/mobile-bg.png");
  list-style-type: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile-menu a {
  color: #272a31;
  font-size: 32px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.mobile-menu h4 {
  margin: 0 108px 15px 40px;
}

.mobile-menu hr {
  margin: 0 24px 24px 24px;
  border: none;
  border-top: 2px solid #ec5242;
}

#close-button {
  width: 10%;
  margin: 18px 38px 34px auto;
  float: right;
}

.logo,
.desktop-menu {
  display: none;
}

.menu-button img {
  width: 40px;
  margin: 15px 0 10px 25px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 100px 15px 80px 15px;
}

.header #hello {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.header h1 {
  background-image: url("../src/background.png");
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  margin: 0 0 15px 0;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: inherit;
  -webkit-background-clip: text;
}

.header p {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  border: 2px solid #fefefe;
  background-color: #f7f7f7;
  padding: 20px;
  font-weight: 600;
  max-width: 590px;
}

.header #date {
  font-family: "COCOGOOSE", sans-serif;
  color: #272a31;
  font-size: 25px;
  margin: 15px 0 0 0;
}

.header #location {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 15px;
  margin: 0 0 30px 0;
}

/* Desktop version of the header. */
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .above-header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: #272a31;
    color: #f7f7f7;
    font-family: "Lato", sans-serif;
    padding: 5px 115px 5px 0;
    font-size: 10px;
    font-weight: 400;
  }

  .above-header a:first-of-type > img {
    max-width: 8px;
  }

  .above-header a > img {
    max-width: 16px;
  }

  header {
    position: fixed;
    width: 100%;
  }

  .header-tab {
    display: flex;
    padding: 0 90px 0 90px;
    box-shadow: 0 3px 10px 0 #4b4b4b73;
    background-color: #f7f7f7;
    width: 100%;
  }

  .header-tab a {
    text-decoration: none;
    color: #565656;
    font-family: "Lato", sans-serif;
  }

  .logo {
    display: block;
    flex-grow: 1;
    align-self: center;
  }

  .logo img {
    max-width: 92px;
  }

  .desktop-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 24px;
  }

  .menu-last-item {
    border: 3px solid #ec5242;
    padding: 10px;
    margin: 10px;
    color: #ec5242;
  }

  .desktop-menu h4:hover {
    color: #ec5242;
  }

  .header-section {
    width: 100%;
    background-image: url("../src/background2.png");
    background-size: cover;
  }

  .header {
    padding: 100px 0 80px 200px;
    width: 84%;
  }

  .header #hello {
    font-size: 45px;
    margin: 10px 0 20px 0;
  }

  .header h1 {
    font-size: 60px;
    margin: 0 0 15px 0;
  }

  .header p {
    font-size: 15px;
    padding: 20px;
    width: 70%;
  }

  .header #date {
    font-size: 35px;
    margin: 15px 0 0 0;
  }

  .header #location {
    font-size: 25px;
    margin: 0 0 30px 0;
  }
}

/* Mobile version of the events section */
.events {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  font-family: "Lato", sans-serif;
  align-items: center;
  background-image: url("../src/main-bg.png");
  background-repeat: repeat;
  padding-top: 70px;
}

.events h2 {
  margin: 30px 0 0 0;
  color: #d3d3d3;
}

.events hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.events h3 {
  color: #ec5242;
  word-break: break-word;
}

.events p {
  color: #d3d3d3;
  word-break: break-word;
}

.events ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.events li {
  background-color: #5f5f5f50;
  width: 94%;
  display: grid;
  grid-template-columns: 10% 30% 50%;
  gap: 15px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #3c3f46;
  align-items: center;
}

.events li:hover {
  border-color: #d3d3d3;
}

.events img {
  width: 120%;
}

.events button {
  padding: 20px;
  margin: 30px 0 30px 0;
  background-color: #ec5242;
  color: #f7f7f7;
  border: 2px solid #ec5242;
  transition: 300ms ease-in-out;
}

.events button:active {
  background-color: #cc3b2b;
  color: #f7f7f7;
  border-color: #cc3b2b;
}

.events a {
  display: none;
}

/* Desktop version of the events section */
@media only screen and (min-width: 768px) {
  .events {
    width: fit-content;
  }

  .events h3 {
    text-align: center;
  }

  .events p {
    text-align: center;
    width: 90%;
  }

  .events ul {
    flex-direction: row;
    justify-content: center;
    padding: 0 10px 0 10px;
    gap: 5px;
    flex-wrap: wrap;
  }

  .events li {
    width: 13%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    min-width: 190px;
    min-height: 297px;
  }

  .events img {
    width: 40%;
  }

  .events button {
    display: none;
  }

  .events a {
    display: block;
    color: #d3d3d3;
    font-family: "Lato", sans-serif;
    margin: 40px 0 40px 0;
    text-transform: uppercase;
  }
}

/* Mobile version of the guests section */
.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 0 10px 40px 10px;
  padding-top: 70px;
  width: 100%;
}

.guests h2 {
  margin: 30px 0 0 0;
  color: #272a31;
}

.guests hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.guests ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.guests li {
  display: grid;
  grid-template-columns: 35% 57%;
  gap: 5%;
}

.guests button {
  padding: 20px;
  margin: 30px 0 30px 0;
  width: 100%;
  background-color: #fafafa;
  color: #272a31;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.guests button > img {
  width: 10px;
}

.guest-card {
  font-size: 14px;
}

.guest-image {
  background-image: url(../src/chess.jpg);
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.guest-image img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
  padding-left: 12%;
  padding-top: 12%;
}

.guest-info {
  padding-top: 8%;
}

.guest-info hr {
  border: none;
  border-top: 1px solid #d3d3d3;
  width: 30px;
  margin: 10px 0 10px 0;
}

.guest-info h3 {
  font-weight: 900;
  font-size: 1.4em;
}

.guest-info h4 {
  font-style: italic;
  color: #ec5242;
  font-size: 0.8em;
}

.guest-info p {
  font-size: 1em;
}

/* Desktop version of the guests section */
@media only screen and (min-width: 768px) {
  .guests ul {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }

  .guests li {
    min-width: 352px;
  }

  .guests button {
    width: 30%;
  }

  .guest-image {
    background-image: url(../src/chess.png);
    min-width: 132px;
    min-height: 132.61px;
  }
}

/* Sponsors section */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  margin: 0 0 40px 0;
  padding: 30px 10px 50px 10px;
  background-color: #272a31;
  width: 100%;
  color: #8d8d8d;
}

.sponsors hr {
  border: none;
  border-top: 1px solid #ec5242;
  width: 30px;
  margin: 10px 0 30px 0;
}

.sponsors ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-weight: 900;
}

/* Copyright section */
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 30px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  gap: 30px;
}

.copyright img {
  max-width: 92px;
}
